body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.account-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 20px;
    margin: 0 auto; 
    gap: 20px;
    max-width: 1200px; 
}

.box {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    overflow: hidden; 
    width: 100%; 
    max-width: 370px;
    margin: auto; 
}

.box:hover {
    background-color: #dfe0e0b7;
  }

.box img {
    width: auto; 
    height: 66.27px; 
    flex-shrink: 0; 
    margin: 20px; 
}

.box-content {
    flex-grow: 1; 
    padding: 20px 20px 20px 0; 
}

.box h3 {
    font-size: 17px;
    color: #111;
    font-weight: 500;
}

.box p {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}
